/*================================================
			margin classes
==================================================*/
// creates classes like `.mt-med`

$margin-list: ('7xl': $space-7xl,
  '6xl': $space-6xl,
  '5xl': $space-5xl,
  '4xl': $space-4xl,
  '3xl': $space-3xl,
  'xl': $space-xl,
  'lg': $space-lg,
  '2xl': $space-2xl,
  'md': $space-md,
  'sm': $space-sm,
  'xs': $space-xs,
  '2xs': $space-2xs,
  '0': $space-0,
  'auto': auto,
);

@each $space,
$spacing in $margin-list {
  .m-#{$space} {
    margin: $spacing;
  }

  .mx-#{$space} {
    margin-left: $spacing;
    margin-right: $spacing;
  }

  .my-#{$space} {
    margin-top: $spacing;
    margin-bottom: $spacing;
  }

  .mt-#{$space} {
    margin-top: $spacing;
  }

  .mr-#{$space} {
    margin-right: $spacing;
  }

  .mb-#{$space} {
    margin-bottom: $spacing;
  }

  .ml-#{$space} {
    margin-left: $spacing;
  }
}

@each $space,
$spacing in $margin-list {
  @include bp(xl) {
    .xl\:m-#{$space} {
      margin: $spacing;
    }

    .xl\:mx-#{$space} {
      margin-left: $spacing;
      margin-right: $spacing;
    }

    .xl\:my-#{$space} {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    .xl\:mt-#{$space} {
      margin-top: $spacing;
    }

    .xl\:mr-#{$space} {
      margin-right: $spacing;
    }

    .xl\:mb-#{$space} {
      margin-bottom: $spacing;
    }

    .xl\:ml-#{$space} {
      margin-left: $spacing;
    }
  }
}

@each $space,
$spacing in $margin-list {
  @include bp(lg) {
    .lg\:m-#{$space} {
      margin: $spacing;
    }

    .lg\:mx-#{$space} {
      margin-left: $spacing;
      margin-right: $spacing;
    }

    .lg\:my-#{$space} {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    .lg\:mt-#{$space} {
      margin-top: $spacing;
    }

    .lg\:mr-#{$space} {
      margin-right: $spacing;
    }

    .lg\:mb-#{$space} {
      margin-bottom: $spacing;
    }

    .lg\:ml-#{$space} {
      margin-left: $spacing;
    }
  }
}

@each $space,
$spacing in $margin-list {
  @include bp(md) {
    .md\:m-#{$space} {
      margin: $spacing;
    }

    .md\:mx-#{$space} {
      margin-left: $spacing;
      margin-right: $spacing;
    }

    .md\:my-#{$space} {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    .md\:mt-#{$space} {
      margin-top: $spacing;
    }

    .md\:mr-#{$space} {
      margin-right: $spacing;
    }

    .md\:mb-#{$space} {
      margin-bottom: $spacing;
    }

    .md\:ml-#{$space} {
      margin-left: $spacing;
    }
  }
}

@each $space,
$spacing in $margin-list {
  @include bp(sm) {
    .sm\:m-#{$space} {
      margin: $spacing;
    }

    .sm\:mx-#{$space} {
      margin-left: $spacing;
      margin-right: $spacing;
    }

    .sm\:my-#{$space} {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    .sm\:mt-#{$space} {
      margin-top: $spacing;
    }

    .sm\:mr-#{$space} {
      margin-right: $spacing;
    }

    .sm\:mb-#{$space} {
      margin-bottom: $spacing;
    }

    .sm\:ml-#{$space} {
      margin-left: $spacing;
    }
  }
}

@each $space,
$spacing in $margin-list {
  @include bp(xs) {
    .xs\:m-#{$space} {
      margin: $spacing;
    }

    .xs\:mx-#{$space} {
      margin-left: $spacing;
      margin-right: $spacing;
    }

    .xs\:my-#{$space} {
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    .xs\:mt-#{$space} {
      margin-top: $spacing;
    }

    .xs\:mr-#{$space} {
      margin-right: $spacing;
    }

    .xs\:mb-#{$space} {
      margin-bottom: $spacing;
    }

    .xs\:ml-#{$space} {
      margin-left: $spacing;
    }
  }
}
