/*================================================
			padding classes
==================================================*/
// creates classes like `.pt4`

$padding-list: ("7xl": $space-7xl,
  "6xl": $space-6xl,
  "5xl": $space-5xl,
  "4xl": $space-4xl,
  "3xl": $space-3xl,
  "xl": $space-xl,
  "lg": $space-lg,
  "2xl": $space-2xl,
  "md": $space-md,
  "sm": $space-sm,
  "xs": $space-xs,
  "2xs": $space-2xs,
  "0": $space-0);

@each $space,
$spacing in $padding-list {
  .p-#{$space} {
    padding: $spacing;
  }

  .px-#{$space} {
    padding-left: $spacing;
    padding-right: $spacing;
  }

  .py-#{$space} {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }

  .pt-#{$space} {
    padding-top: $spacing;
  }

  .pr-#{$space} {
    padding-right: $spacing;
  }

  .pb-#{$space} {
    padding-bottom: $spacing;
  }

  .pl-#{$space} {
    padding-left: $spacing;
  }
}

@each $space,
$spacing in $padding-list {
  @include bp(xl) {
    .xl\:p-#{$space} {
      padding: $spacing;
    }

    .xl\:px-#{$space} {
      padding-left: $spacing;
      padding-right: $spacing;
    }

    .xl\:py-#{$space} {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    .xl\:pt-#{$space} {
      padding-top: $spacing;
    }

    .xl\:pr-#{$space} {
      padding-right: $spacing;
    }

    .xl\:pb-#{$space} {
      padding-bottom: $spacing;
    }

    .xl\:pl-#{$space} {
      padding-left: $spacing;
    }
  }
}

@each $space,
$spacing in $padding-list {
  @include bp(lg) {
    .lg\:p-#{$space} {
      padding: $spacing;
    }

    .lg\:px-#{$space} {
      padding-left: $spacing;
      padding-right: $spacing;
    }

    .lg\:py-#{$space} {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    .lg\:pt-#{$space} {
      padding-top: $spacing;
    }

    .lg\:pr-#{$space} {
      padding-right: $spacing;
    }

    .lg\:pb-#{$space} {
      padding-bottom: $spacing;
    }

    .lg\:pl-#{$space} {
      padding-left: $spacing;
    }
  }
}

@each $space,
$spacing in $padding-list {
  @include bp(md) {
    .md\:p-#{$space} {
      padding: $spacing;
    }

    .md\:px-#{$space} {
      padding-left: $spacing;
      padding-right: $spacing;
    }

    .md\:py-#{$space} {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    .md\:pt-#{$space} {
      padding-top: $spacing;
    }

    .md\:pr-#{$space} {
      padding-right: $spacing;
    }

    .md\:pb-#{$space} {
      padding-bottom: $spacing;
    }

    .md\:pl-#{$space} {
      padding-left: $spacing;
    }
  }
}

@each $space,
$spacing in $padding-list {
  @include bp(sm) {
    .sm\:p-#{$space} {
      padding: $spacing;
    }

    .sm\:px-#{$space} {
      padding-left: $spacing;
      padding-right: $spacing;
    }

    .sm\:py-#{$space} {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    .sm\:pt-#{$space} {
      padding-top: $spacing;
    }

    .sm\:pr-#{$space} {
      padding-right: $spacing;
    }

    .sm\:pb-#{$space} {
      padding-bottom: $spacing;
    }

    .sm\:pl-#{$space} {
      padding-left: $spacing;
    }
  }
}

@each $space,
$spacing in $padding-list {
  @include bp(xs) {
    .xs\:p-#{$space} {
      padding: $spacing;
    }

    .xs\:px-#{$space} {
      padding-left: $spacing;
      padding-right: $spacing;
    }

    .xs\:py-#{$space} {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    .xs\:pt-#{$space} {
      padding-top: $spacing;
    }

    .xs\:pr-#{$space} {
      padding-right: $spacing;
    }

    .xs\:pb-#{$space} {
      padding-bottom: $spacing;
    }

    .xs\:pl-#{$space} {
      padding-left: $spacing;
    }
  }
}
