// These are classes you can stick on stuff to do things for you.
// clearfix is a prime example. If you wanted to do a text-center class.
// basically you attach a property or style to a single class that
// changes the element accordingly.

.clearfix {
  *zoom: 1;
  clear: both;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.default-link::after {
  height: 0;
  content: inherit;
}

.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  // @include bp(xl) {
  //   margin-left: calc(25% - 80vw);
  //   margin-right: calc(25% - 80vw);
  // }
}

.aria-text {
  position: absolute;
  visibility: hidden;
}

.image-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.pipe {
  background-color: $yellow-600;
  width: 2px;
}
