{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="my-sm">
    <h2 id="system-breadcrumb" class="visually-hidden">
      {{ 'Breadcrumb'|t }}
    </h2>
    <ul class="breadcrumbs flex pl-0">
      {% for item in breadcrumb %}
        <li class="pr-md pl-xs">
          {% if item.url %}
            <a href="{{ item.url }}">
              {{ item.text }}
            </a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
