.cta-section {
  position: relative;
  background-image: url('/themes/custom/typhoon/images/parks-library-staircase.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cta-image-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('/themes/custom/typhoon/images/cta-image-overlay.png');
  left: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.cta-content {
  max-width: rem(520px);

  @include bp(xl) {
    max-width: rem(650px)
  }
}

.cta-card--stack {
  margin-top: -$space-4xl;
  margin-bottom: -$space-4xl;
}

.cta-card {
  box-shadow: $vert-dark-3;
  transition: transform ease 0.5s, box-shadow ease 0.3s;
  z-index: 2;

  &:hover {
    box-shadow: $vert-dark-4;
    transform: scale(1.13);
    z-index: 3;
  }

  &:not(:last-child) {
    margin-bottom: $space-xl;
  }
}

.cta-card--image {
  position: relative;
  height: rem(202);
  width: rem(280);
  margin: 0;
  overflow: hidden;

  img {
    @include absolute-center;
    max-width: 100%;
    z-index: 1;
  }

  figcaption {
    position: absolute;
    left: 0;
    bottom: $space-lg;
    background: linear-gradient(135deg, $accent-color 86%, transparent 0) 100%;
    font-family: $merriweather_stack;
    width: 80%;
    line-height: 1.3;
    z-index: 2;
  }
}
