.gen-con--block {
  & h3 {
    @apply inline-block py-xs;
  }

  & p + h2 {
    @apply mt-lg;
  }

  & p + h3,
  & p + h4,
  & p + h5,
  & p + h6 {
    @apply mt-md;
  }

  & p + p {
    @apply mt-md;
  }

  & > *:first-child {
    @apply mt-0;
  }

  & ul {
    @apply list-disc pl-2xl;
  }

  & .link-list--abstract,
  & .link-list {
    @apply pl-0;
  }

  & ol {
    @apply list-decimal pl-2xl;
  }

  & ol ol {
    list-style: lower-alpha;
  }

  & ol ol ol {
    list-style: lower-roman;
  }

  & p + * {
    @apply mt-md;
  }

  &.img-block {
    & p {
      @apply mt-0;
    }

    & p + p {
      @apply mt-md;
    }
  }
}

.gen-con--img-wrap {
  &.large {
    @apply max-w-full md:max-w-[400px];
  }

  &.medium {
    @apply max-w-full md:max-w-[300px];
  }

  &.small {
    @apply max-w-full sm:max-w-[80%] md:max-w-[200px];
  }

  @nest .block--lg-img & {
    @apply max-w-[850px];
  }

  @nest .block--two-img & {
    @apply md:max-w-[45%] lg:max-w-[400px];
  }

  @nest .block--three-img & {
    @apply max-w-[100%] md:max-w-[32%];
  }
}

.lead-block p:first-of-type {
  @apply text-black text-lg;
}

.abstract-item {
  & a::before {
    @apply absolute top-1/2 left-0 transform -translate-y-1/2 text-lg font-normal text-red-500;
    font-family: 'FontAwesome';
    content: '\f35d';
  }

  & a::after {
    @apply h-0;
  }

  & a:hover,
  & a:focus,
  & a:hover::before,
  & a:focus::before {
    @apply text-red-700;
  }

  & p {
    @apply pl-2xl;
  }

  & > ul {
    @apply pl-4xl;
  }

  & a[href*='.com']::before,
  & a[href*='.net']::before,
  & a[href*='.edu']::before,
  & a[href*='.org']::before {
    content: '\f35d';
  }

  & a[href*='.docx']::before {
    content: '\f1c2';
  }

  & a[href*='.pdf']::before {
    content: '\f1c1';
  }

  & a[href*='.xlsx']::before {
    content: '\f1c3';
  }

  & a[href*='.jpg']::before,
  & a[href*='.tiff']::before,
  & a[href*='.img']::before,
  & a[href*='.png']::before {
    content: '\f1c5';
  }
}

.link-list--item a {
  @apply font-merriweather;

  &::before {
    @apply absolute top-0 text-lg left-0;
    font-family: 'FontAwesome';
    content: '\f15c';
    color: inherit;
  }

  &::after {
    @apply top-0;
  }

  &:hover::after,
  &:focus::after {
    @apply top-0;
  }

  &[href*='.com']::before,
  &[href*='.net']::before,
  &[href*='.edu']::before,
  &[href*='.org']::before {
    content: '\f0c1';
  }

  &[href*='.docx']::before {
    content: '\f1c2';
  }

  &[href*='.pdf']::before {
    content: '\f1c1';
  }

  &[href*='.xlsx']::before {
    content: '\f1c3';
  }

  &[href*='.jpg']::before,
  &[href*='.tiff']::before,
  &[href*='.img']::before,
  &[href*='.png']::before {
    content: '\f1c5';
  }
}

.show--content {
  @apply overflow-hidden text-left transition-all duration-300;

  & > *:first-of-type {
    @apply mt-md;
  }

  & ul {
    @apply pl-lg;
  }
}

.quote {
  @apply tracking-wide;

  & p {
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
  }

  & cite::before,
  & cite::after {
    @apply text-yellow-600 py-0 px-sm;
    content: '\2014';
  }

  & cite::before {
    @apply left-[-10%];
  }

  & cite::after {
    @apply right-[10%];
  }
}

.block--quote-ribbon {
  quotes: '“' '”';

  &::before,
  &::after {
    @apply absolute top-[12%] font-merriweather text-4xl sm:text-6xl text-yellow-500;
  }

  &::before {
    @apply left-[2%];
    content: open-quote;
  }

  &::after {
    @apply right-[2%];
    content: close-quote;
  }
}

.block--quote-banner .quote cite::before,
.block--quote-banner .quote cite::after {
  @apply text-red-50;
}

.accordion {
  & .show--content div:first-child {
    @apply mt-md;
  }

  &::before,
  &::after {
    content: '';
    width: 88px;
    height: 50px;
    position: absolute;
    transform: rotate(45deg);
    transition: background-color 0.3s ease-in;
  }

  &::before {
    top: calc(375px * -0.07);
    right: calc(375px * -0.08);
    @apply bg-yellow-500;
  }

  &::after {
    top: calc(375px * -0.1);
    right: calc(375px * -0.11);
    @apply bg-yellow-600;
  }
}
