/**** News Card Lead ****/
.news-card--lead .image-overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.75) 100%,
    rgba(0, 0, 0, 0.75) 150%
  );
  background-size: auto 150%;
  background-position: 0 50%;
  transition: background-position 0.5s ease;
}
