$p-color: $warm-grey-900;
$p-fs: $fs-md;
$p-lh: 1.5;

h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
  margin-top: 0;
}

.lead {
  color: $lead-color;
  font-size: $lead-fs;
  line-height: $lead-lh;
}

p {
  // @include responsive-text(14px, 20px);
  color: $p-color;
  font-size: $p-fs;
  line-height: $p-lh;
}

code {
  padding: $space-2xs;
  background-color: $yellow-200;
  color: $red-700;
  vertical-align: middle;
}

a {
  position: relative;
  color: $link-color;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   background-color: $red-600;
  //   height: 2px;
  //   width: 0%;
  //   transition: 0.3s ease;
  // }

  &:hover,
  &:focus {
    color: $link-hover-color;

    // &::after {
    //   width: 100%;
    // }
  }
}

// p,
// ul,
// ol,
// pre,
// table,
// blockquote {
// 	margin-top: 0em;
// 	margin-bottom: 1em;
// }
ul ul,
ol ol,
ul ol,
ol ul {
  padding-left: $space-md;
}

ul {
  // list-style: none;
  // padding-left: $space-md;

  ul {
    // list-style: initial;
    // margin-left: $space-xs;
  }

  ul ul {
    // list-style: circle;
  }
}

ol ol {
  list-style: lower-alpha;

  ol {
    list-style: lower-roman;
  }
}

// /* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 1.5;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
