.alert--wrap {
  flex-wrap: wrap;
}

.alert {
  position: relative;
  // min-width: 300px;
  // max-width: 450px;
  overflow: hidden;
  border-radius: $br4;
  box-shadow: $vert-light-2;
  display: flex;

  .alert--icon-block {
    width: $space-4xl;
  }

  i {
    @include vert_center;
    left: -$space-xl;
    font-size: 82px;
  }
}

.alert--text {
  span {
    display: block;
  }

  .alert-text--main {
    line-height: 1;
  }
}

.alert--red {
  .alert--icon-block {
    background-color: $red-600;
  }

  i {
    color: $red-400;
  }

  .alert-text--main {
    color: $red-600;
  }
}

.alert--yellow {
  .alert--icon-block {
    background-color: $yellow-600;
  }

  i {
    color: $yellow-400;
  }

  .alert-text--main {
    color: $yellow-600;
  }
}

.alert--green {
  .alert--icon-block {
    background-color: $green-600;
  }

  i {
    color: $green-400;
  }

  .alert-text--main {
    color: $green-600;
  }
}

.alert--blue {
  .alert--icon-block {
    background-color: $blue-600;
  }

  i {
    color: $blue-400;
  }

  .alert-text--main {
    color: $blue-600;
  }
}
