$nav-utils-height: rem(55);
$header-nav-main-height: $space-3xl; // nav-height in pixels
$header-nav-links: $red-500;

$header-content-max-width: 1400px;

.header {
  // grid-column: 1 / -1;
  // z-index: 1;
}

// * utility nav
.util-nav--wrap {
  // position: relative;`
  // overflow: hidden;
  // box-shadow: $vert-light-1;
}

// .nav-triangles {
//   position: absolute;
//   top: -2.1rem;
//   left: -2.3rem;
//   transform: rotate(45deg);
//   width: rem(72);
//   height: rem(72);
//   background-color: $red-700;
//   z-index: 1;

//   &::before {
//     content: '';
//     position: absolute;
//     top: 0.7rem;
//     left: 0.8rem;
//     width: rem(47);
//     height: rem(47);
//     background-color: $red-800;
//     z-index: 2;
//   }

//   &::after {
//     content: '';
//     position: absolute;
//     top: 1.2rem;
//     left: 1.4rem;
//     width: rem(27);
//     height: rem(27);
//     background-color: $red-900;
//     z-index: 3;
//   }
// }

.util-nav {
  // max-width: $header-content-max-width;
  // margin: auto;
}

.util-nav--list {
  // display: flex;
  // justify-content: flex-end;
  // margin-bottom: 0;

  li {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // height: $nav-utils-height;

    // &:not(:last-of-type) {
    //   a::after {
    //     @include vert_center;
    //     content: '';
    //     left: unset;
    //     right: 0;
    //     width: 1px;
    //     height: $space-sm;
    //     background-color: $yellow-400;
    //   }
    // }
  }

  a {
    // color: $white;
    // font-size: $fs-sm;
    // font-weight: 400;
    // padding: $space-md;
    // transition: color ease 0.3s;

    &:hover {
      // color: $warm-grey-200;
    }
  }
}

// * edits website search form. Classes are generated by PHP.
.search__search-form {
  // height: 100%;

  form {
    // display: flex;
    // padding: $space-sm $space-md;
    // margin: 0;
    // height: $nav-utils-height;

    .form-item {
      // margin-bottom: 0;
    }
  }

  // .input--search {
  //   // width: 0;
  //   overflow: hidden;
  //   transition: width ease 0.3s;

  //   &.js-active {
  //     width: rem(250);
  //   }
  // }

  .search__search-input {
    // height: 100%;
    // width: rem(250);
    // font-size: $fs-sm;
    // border: none;
    // border-radius: $br2;
    // background: $red-100;
    // padding-left: $space-md;
    // margin: 0;
    // box-shadow: $dark-inset;
  }

  .search__search-button {
    // height: 100%;
    // padding: 0 $space-xs;
    // background-color: transparent;
    // box-shadow: none;
    // color: $white;
  }
}

// * Because of drupal, all nav items get the same classes, including the side nav
// * So I am wrapping the nav classes and styling base on purpose. Not ideal, but it works
.main-nav--wrap {
  // border-bottom: 2px solid $yellow-500;

  .main-nav {
    // display: grid;
    // max-width: $header-content-max-width;
    // margin: auto;

    nav {
      z-index: 10;
    }

    .logo-wrap {
      // // grid-column: 1 / -1;
      // margin-top: $space-lg;
      // margin-bottom: $space-md;

      .logo {
        // max-width: rem(300);

        // a::after {
        //   background: transparent;
        // }
      }

      img {
        // max-width: 100%;
      }
    }

    ul {
      // margin: 0;
    }
  }

  .main-nav--list {
    // grid-column: 1 / -1;
    // display: flex;
    // justify-content: flex-end;
    // margin-bottom: 0;
  }

}

.main-nav--item {
  // line-height: $header-nav-main-height;
  // position: relative;
  // transition: background-color ease 0.3s, color ease 0.3s;

  &:nth-last-child(1),
  &:nth-last-child(2) {
    .main-nav--dropdown {
      // left: unset;
      // right: 0;
    }
  }

  &:hover,
  &:focus,
  .is-active {
    .main-nav--dropdown {
      // display: block;
    }
  }

  .main-nav--link {
    // display: block;
    // height: $header-nav-main-height;
    // padding: 0 $space-2xl;
    // line-height: $header-nav-main-height;

    &:hover,
    &:focus,
    &.is-active {
      // background-color: $red-500;
      // color: $white;
    }

    &::after {
      // background-color: transparent;
    }
  }
}

.main-nav--dropdown {
  // width: 100%;

  @include bp(md) {
    // width: rem(300);
  }

  // display: none;
  // position: absolute;
  // top: $header-nav-main-height;
  // left: 0;
  // padding: $space-lg $space-lg;
  // list-style-type: none;
  // background-color: $white;
  // border-radius: 2px;
  // box-shadow: $vert-light-2;

  .main-nav--item:hover &,
  .main-nav--item:focus & {
    // display: block;
  }

  &:hover {
    +.main-nav--item {
      // background-color: $red-500;
      // color: $white;
    }
  }

  .dropdown--item {
    a {
      // display: block;
      // overflow: hidden;
      // padding: $space-xs $space-sm $space-xs $space-lg;
      // font-size: $fs-md;
      // color: $black;
      // font-weight: 400;

      &::after {
        // @include vert_center;
        // content: '\f054';
        // font-family: 'Fontawesome';
        // background-color: transparent;
        // top: $space-2xs;
        // left: -1rem;
        // height: auto;
        // bottom: unset;
        // transition: left ease 0.3s;
      }

      &:hover {
        // color: $red-500;

        &::after {
          // left: 0;
        }
      }
    }

    .is-active {
      // color: $red-500;

      &::after {
        // left: 0;
      }
    }
  }
}
