.hero--wrap {
  position: relative;
  height: rem(425);

  @include bp(xl) {
    height: rem(530);
  }

  @include bp(md) {
    height: rem(375);
  }
}

.hero {
  background-image: url('/themes/custom/typhoon/images/intra-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

  @include bp(xs) {
    // text-align: center;
  }
}

.hero--text {
  margin-left: 0;

  @include bp(xl) {
    width: 1110px;
  }
}
