.hero--wrap {
  position: relative;
}

.hero {
  background-image: url('/themes/custom/typhoon/images/intra-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: rem(300);

  @include bp(md) {
    min-height: rem(375);
  }

  @include bp (lg) {
    min-height: rem(425);
  }

  @include bp(xl) {
    min-height: rem(530);
  }

  .content-wrap {
    .front-page & {
      @include bp(xl) {
        width: var(--content-width);
      }
    }
  }
}

.hero--text {
  margin-left: 0;

  @include bp(xl) {
    width: 1110px;
  }
}
