.hero--wrap {
  position: relative;
  height: rem(425);

  @include bp(md) {
    height: rem(375);
  }
}

.hero {
  background-image: url('/themes/custom/typhoon/src/img//hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

  @include bp(xs) {
    // text-align: center;
  }
}
