$side-nav-main-height: $space-3xl; // nav-height in pixels
$side-nav-links: $red-500;

// * top level <ul> in side-nav
.side-nav {
  background-color: $white;
  box-shadow: $vert-light-2
}

// * styles for all <a> in side-nav
.side-nav--link {
  // display: block;
  // height: $side-nav-main-height;
  // padding: $space-sm $space-2xl;
  // line-height: $side-nav-main-height;
  // position: relative;
}

// * top level <li> in side nav structure
.side-nav--item {
  .side-nav--link {
    border-right: $space-2xs solid $yellow-500;
    // border-left: $space-2xs solid $yellow-500;

    &::before,
    &::after {
      content: '';
      background-color: transparent;
      transition: none;
    }

    &:hover,
    &:focus,
    &.is-active {
      color: $white;
      background-color: $red-500;
      // box-shadow: $vert-light-1;
      border-right: $space-2xs solid $yellow-500;
      // border-left: $space-2xs solid $yellow-500;
      z-index: 1;
    }
  }
}

.side-nav--item_active-trail {
  .side-nav--sub-list {
    display: block;
  }
}

// * nested <li> in side-nav structure
.sub-list--item {
  .side-nav--link {
    overflow: hidden;
    // padding: 0 $space-xl;
    color: $text-color;
    font-size: $fs-md;
    font-weight: 400;
    transition: left ease 0.3s;

    &::after {
      @include vert_center;
      // content: '\f054';
      font-family: 'Fontawesome';
      display: block;
      background-color: transparent;
      left: -1rem;
      height: auto;
      bottom: unset;
      transition: left ease 0.3s;
    }

    &:hover,
    &:focus,
    &.is-active {
      color: $red-500;
      background-color: transparent;
      transition: left ease 0.3s;
      box-shadow: none;
      // border-right: $space-2xs solid transparent;
      // border-left: $space-2xs solid transparent;

      &::before {
        display: none;
      }

      &::after {
        left: $space-sm;
      }
    }
  }

  .is-active {
    color: $red-500;

    &::after {
      left: 0;
    }
  }
}

// * nested <ul> in side-nav
.side-nav--sub-list {
  display: none;
}
