@keyframes load-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes load-left {
	0% {
		opacity: 0;
		transform: translateX(-3em);
	}

	100% {
		opacity: 1;
		transform: translateX(0em);
	}
}

@keyframes load-right {
	0% {
		opacity: 0;
		transform: translateX(3em);
	}

	100% {
		opacity: 1;
		transform: translateX(0em);
	}
}

@keyframes load-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}

	100% {
		opacity: 1;
		transform: translateY(0em);
	}
}

@keyframes load-down {
	0% {
		opacity: 0;
		transform: translateY(-3em);
	}

	100% {
		opacity: 1;
		transform: translateY(0em);
	}
}
