.grid {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: auto 1fr auto;

  @include bp(sm) {
    grid-template-columns: 1fr;
  }

  // .header,
  .footer {
    grid-column: 1 / -1;
  }

  .side-nav {
    grid-column: 1 / 2;

    @include bp(sm) {
      grid-column: 1 / -1;
    }
  }

  .body {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    width: 100%;
    max-width: rem(1500);


    @include bp(sm) {
      grid-column: 1 / -1;
    }

    main {
      grid-column: 1 / 10;

      @include bp(sm) {
        grid-column: 1 / -1;
      }

      .admin-page & {
        grid-column: 1 / -1;
      }
    }

    .layout-sidebar-first {
      grid-column: 10 / 13
    }
  }

  // * grid is full width of browser. AKA FULL BLEED! So that's cool
  &.grid-full {
    .body {
      max-width: 100%;
    }

    main {
      grid-column: 1 / -1;
    }
  }
}

.full {
  grid-column: 1 / -1;
}
