{% macro header(data) %}
  {% set defaultData = {
    title: '',
    tagline: ''
  } %}

  {% set data = data ? defaultData|merge(data) : defaultData %}

  <div
    class="hero--text headline-special inline-block relative text-3xl mt-md mb-4xl xl:mb-5xl xs:mb-4xl mr-auto xl:ml-0"
  >
    <h1
      class="inline md:inline-block relative mt-0 mx-auto mb-xs text-red-500 xl:text-5xl xs:text-2xl text-white"
    >
      {{ data.title }}
    </h1>
    <span
      class="headline-special--sub block max-w-full text-lg text-left md:text-xl xl:pt-xs xs:pt-sm xl:text-2xl text-white"
    >
      {{ data.tagline }}
    </span>
  </div>
{% endmacro %}
