{#
/**
 * @file
 * Theme override for an 'submit' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if attributes.hasClass('search__search-button') %}
  {# This class is added with a preprocess function in iastate_theme.theme #}

  <button{{attributes.addClass('').setAttribute('id','search_edit-submit').setAttribute('aria-label','Submitsearch')}}>
    <i class="fas fa-arrow-right"></i>
  </button>
{% else %}
  <input{{attributes.addClass('button','button-accent')}}/>
  {{ children }}

{% endif %}
