.show--item {
  &:not(last-of-type) {
    margin-bottom: $space-md;
  }

  &:hover {
    box-shadow: $vert-light-3;
  }
}

.show--title {
  .icon {
    &::before {
      @include absolute-center();
      font-family: 'FontAwesome';
      content: '\f078';
    }

    .js-open & {
      transform: rotateZ(180deg);
    }
  }
}
