a.button,
button.button,
input[type='reset'].button,
input[type='submit'].button,
input[type='button'].button {
  @apply inline-block bg-red-500 border-transparent border-[1px] rounded-sm text-white cursor-pointer font-merriweather text-md leading-1 py-md px-lg text-center no-underline transition duration-300;

  &:focus,
  &:hover {
    @apply text-white bg-red-400 no-underline shadow-dark-1;
  }

  &::after {
    @apply bg-transparent;
  }

  &:active {
    @apply bg-red-700 shadow-dark-1;
  }
}

a.button.button-icon,
button.button.button-icon,
input[type='reset'].button.button-icon,
input[type='submit'].button.button-icon,
input[type='button'].button.button-icon {
  @apply relative py-md pr-xl pl-md;

  &::before,
  &::after {
    @apply absolute top-1/2 -translate-y-1/2 transform text-xs transition duration-300;
    font-family: 'Fontawesome';
    content: '\f054';
  }

  &::before {
    @apply right-xs;
  }

  &::after {
    @apply right-md;
    left: unset;
    bottom: unset;
    height: unset;
    width: unset;
  }

  &:hover,
  &:focus {
    &::after {
      @apply right-[0.6em];
    }
  }
}

a.button.button-icon--back,
button.button.button-icon--back,
input[type='reset'].button.button-icon--back,
input[type='submit'].button.button-icon--back,
input[type='button'].button.button-icon--back {
  @apply relative py-md pr-xl pl-3xl;

  &::before,
  &::after {
    @apply absolute top-1/2 -translate-y-1/2 transform text-xs transition duration-300;
    font-family: 'Fontawesome';
    content: '\f053';
  }

  &::before {
    @apply left-lg;
  }

  &::after {
    @apply left-xl;
    right: unset;
    bottom: unset;
    height: unset;
    width: unset;
  }

  &:hover,
  &:focus {
    &::after {
      @apply left-xl;
    }
  }
}

.button-full {
  @apply w-full;
}

.button-large {
  @apply py-[1.2em] px-lg;
}

.button-small {
  @apply py-[0.3em] px-md;
}

.button.button-ghost {
  @apply bg-transparent border-red-600 text-red-600;
}

a.button.button-secondary,
button.button.button-secondary,
input[type='reset'].button-secondary,
input[type='submit'].button-secondary,
input[type='button'].button-secondary {
  @apply bg-yellow-500 border-transparent text-warm-grey-900;

  &:hover,
  &:focus {
    @apply text-warm-grey-900 bg-yellow-300 shadow-light-2;
  }

  &:active {
    @apply bg-yellow-600 shadow-light-1;
  }
}

a.button.button-accent,
button.button.button-accent,
input[type='reset'].button-accent,
input[type='submit'].button-accent,
input[type='button'].button-accent {
  @apply bg-blue-600 border-transparent text-white;

  &:hover,
  &:focus {
    @apply bg-blue-400 shadow-dark-2 text-white;
  }

  &:active {
    @apply bg-blue-700 shadow-dark-2;
  }
}
