{# 
/**
 * @file
 * Default template for the department staff list page.
 *
 * Available variables:
 * - deptpersons: Array of deptperson informations.
 *   A staffperson information consists of:
 *   - netid
 *   - surname, firstname
 *   - title
 *   - uri
 *   - not used (midname, firstchar, staff_ord, unit_ord)
 */
#}

{% import '@typhoon/components/_staff.html.twig' as staff %}

{% set imgClasses =
  'absolute left-1/2 w-full transform -translate-y-1/2 -translate-x-1/2'
%}

<div class="grid grid-department-staff gap-x-xl gap-y-4xl pt-xl mb-4xl">
  {% for deptperson in deptpersons %}
    {{
      staff.staffBrief({
        firstName: deptperson.firstname,
        lastName: deptperson.surname,
        netID: deptperson.netid,
        imgSrc: deptperson.uri,
        committeeRole: deptperson.role,
        staffTitle: deptperson.jobdescr
      })
    }}
  {% endfor %}
</div>
