.gen-con--block h3 {
  @apply text-red-500 inline-block py-xs;
}

.gen-con--block p + p {
  @apply mt-md;
}

.gen-con--block > *:first-of-type {
  @apply mt-0;
}

.gen-con--block ul {
  @apply list-disc pl-2xl;
}

.gen-con--block .link-list--abstract,
.gen-con--block .link-list {
  @apply pl-0;
}

.gen-con--block ol {
  @apply list-decimal pl-2xl;
}

.gen-con--block ol ol {
  list-style: lower-alpha;
}

.gen-con--block ol ol ol {
  list-style: lower-roman;
}

.gen-con--block p + * {
  @apply mt-md;
}

.abstract-item > ul {
  @apply pl-4xl;
}

.show--content {
  @apply overflow-hidden text-left transition-all duration-300;
}

.show--content > *:first-of-type {
  @apply mt-md;
}

.show--content ul {
  @apply pl-lg;
}

.quote {
  @apply tracking-wide;
}

.quote p {
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
}
