.gen-con--block h3 {
  @apply inline-block py-xs;
}

.gen-con--block p + p {
  @apply mt-md;
}

.gen-con--block > *:first-of-type {
  @apply mt-0;
}

.gen-con--block ul {
  @apply list-disc pl-2xl;
}

.gen-con--block .link-list--abstract,
.gen-con--block .link-list {
  @apply pl-0;
}

.gen-con--block ol {
  @apply list-decimal pl-2xl;
}

.gen-con--block ol ol {
  list-style: lower-alpha;
}

.gen-con--block ol ol ol {
  list-style: lower-roman;
}

.gen-con--block p + * {
  @apply mt-md;
}

.abstract-item > ul {
  @apply pl-4xl;
}

.show--content {
  @apply overflow-hidden text-left transition-all duration-300;
}

.show--content > *:first-of-type {
  @apply mt-md;
}

.show--content ul {
  @apply pl-lg;
}

.quote {
  @apply tracking-wide;
}

.quote p {
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
}

.accordion::before,
.accordion::after {
  content: '';
  width: 88px;
  height: 50px;
  position: absolute;
  transform: rotate(45deg);
  transition: background-color 0.3s ease-in;
}

.accordion::before {
  top: calc(375px * -0.07);
  right: calc(375px * -0.08);
  @apply bg-yellow-500;
}

.accordion::after {
  top: calc(375px * -0.1);
  right: calc(375px * -0.11);
  @apply bg-yellow-600;
}
