/************** Tailwind *********************/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/************** custom CSS *********************/
@import url('//cdn.theme.iastate.edu/nimbus-sans/css/nimbus-sans.css');

/****** Foundations ******/
@import './fonts.css';
@import './header.css';
@import './headlines.css';
@import './breadcrumbs.css';
@import './footer.css';

/**** components ****/
@import './department-nav.css';

:root {
  --header-height: '';
}

html {
  scroll-behavior: smooth;
  margin-right: calc(-1 * (100vw - 100%));
  /* * ^ this snippet prevents layout shift with mobile nav*/
}

body {
  font-family: 'Nimbus Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-shadow-1 {
    text-shadow: 0 2px 4px #000000;
  }
}

a {
  @apply text-red-500;
}

p {
  @apply mt-md;
}

.absolute-center {
  @apply absolute transform -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2;
}

.center-x {
  @apply absolute transform -translate-x-1/2 left-1/2;
}

.gen-con--block p + p {
  @apply mt-md;
}

.gen-con--block p:first-of-type {
  @apply mt-0;
}

.grid-staff-directory {
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

@media (min-width: 768px) {
  .grid-staff-directory {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}

.grid-department-staff {
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.heading-underline {
  position: relative;
  @apply pb-xs;
}

.basic-card--staff .heading-underline {
  z-index: 1;
}

.heading-underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 4px;
  @apply bg-yellow-600;
}

.basic-card--staff .heading-underline::before {
  z-index: -1;
  @apply w-full bg-yellow-600 bottom-xs;
}

.staff-news--article-list {
  @apply grid grid-cols-1 md:grid-cols-2 gap-y-3xl gap-x-2xl mt-2xl text-left;
}

.staff-updates--article-list {
  @apply grid grid-cols-1 gap-y-3xl gap-x-2xl mt-2xl text-left;
}

@media (min-width: 640px) {
  .staff-updates--article-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
